.p-title {
  color: #19467b;
}

.p-titleContainer {
  position: relative;
  margin-top: 5%;
}

.p-Divide {
  margin-top: -2%;
  padding-bottom: 2%;
}

.p-Divider {
  border-top: 4px solid #e7e7e7;
}

.p-searchbar {
  width: 100%;
  background-color: white;
  border-radius: 6px;
}

.p-search {
  margin-top: -4%;
  padding-bottom: 3%;
}

.p-post {
  margin-top: 30px;
  margin-bottom: 30px;
}

.p-bodyContainer {
  margin-bottom: 80px;
}
