.com-title {
  color: #19467b;
}

.com-titleContainer {
  position: relative;
  margin-top: 5%;
}

.com-Divide {
  margin-top: -2%;
  padding-bottom: 2%;
}

.com-Divider {
  background-color: #e7e7e7;
}

.com-search {
  margin-top: -4%;
  padding-bottom: 3%;
}

.com-searchbar {
  width: 100%;
  background-color: white;
  border-radius: 6px;
}

.com-bodyContainer {
  margin-bottom: 80px;
}
