.cpc-community{
    color: #000000;
    margin-top: 3%;
    margin-left: 1%;
    float: left;
}

.cpc-members {
    color: #848484;
    float: right;
    margin-right: 3%;
    margin-top: 2%;
    font-size: 2vh;
}

.cpc-description{
    float: left;
    margin-left: 1%;
}
