.ppc-postArea {
  border-radius: 8px;
  padding: 20px;
  background-color: #ffffff;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.ppc-row1 {
  display: flex;
  justify-content: space-between;
}
.ppc-course {
  margin-top: 0;
}
.ppc-upi {
  margin-right: 50px;
  margin-top: 0;
  font-weight: normal;
}
.ppc-timeposted {
  margin-top: 0;
  font-weight: normal;
}

.ppc-title {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

.ppc-postInfo:hover {
  cursor: pointer;
}

.ppc-link-icon {
  margin-left: 20px;
}

.ppc-text {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.ppc-right {
  display: flex;
  text-align: center;
}

.ppc-row3 {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.ppc-votes {
  color: #0080a7;
  display: flex;
  text-align: center;
  align-items: center;
}

.ppc-numofvotes {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
  margin-right: 10px;
}

.ppc-comment {
  color: #0080a7;
  margin-top: 0;
  margin-bottom: 0;
}

.carousel .carousel.carousel-slider .control-arrow {
  opacity: 1;
  padding: 0.8rem;
}
