.postArea{
    border-radius: 8px;
    padding: 20px;
    background-color: #F5F5F5;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.row1{
    display: flex;
    justify-content: space-between;
}
.course{
    color: #0080A7;
    margin-top: 0;
   
}
.upi{
    color: #0080A7;
    margin-right: 50px;
    margin-top: 0;


}
.timeposted{
    color: #0080A7;
    margin-top: 0;

}

.title{
    margin-top: 0;
    margin-bottom: 0;
}
.text{
    display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}

.right{
    display: flex;
    text-align: center;
}

.row3{
    display: flex;
    justify-content: space-between;
  
}
.votes{
    color: #0080A7;
    display: flex;
    text-align: center; 
    align-items: center;
    

}
.numofvotes{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 10px;

}
.comment{
    color: #0080A7;
    margin-top: 0;
    margin-bottom: 0;

}