.post-postArea {
  margin-top: 50px;
  border-radius: 8px;
  padding: 20px;
  background-color: #ffffff;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.post-row1 {
  display: flex;
  justify-content: space-between;
}
.post-course {
  margin-top: 0;
}
.post-upi {
  margin-right: 50px;
  margin-top: 0;
  font-weight: normal;
}
.post-timeposted {
  margin-top: 0;
  font-weight: normal;
}

.post-title {
  margin-top: 0;
  margin-bottom: 0;
}
.post-text {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.post-right {
  display: flex;
  text-align: center;
}

.post-row3 {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.post-votes {
  color: #0080a7;
  display: flex;
  text-align: center;
  align-items: center;
}
.post-numofvotes {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
  margin-right: 10px;
}

.carousel .carousel.carousel-slider .control-arrow {
  opacity: 1;
  padding: 0.8rem;
}
