body {
  background-color: #F5F5F5;
  color: #0080A7;
}
h1 {
  color: #19467B;
}

.MuiContainer-maxWidthSm {
  text-align: center;
}

.divide {
  margin-top: -2%;
  padding-bottom: 2%;
}

.hpDivider {
  border: 3px solid #FFFFFF;
}
