body {
  background-color: #F5F5F5;
}
h1 {
  color: #19467B;
}

.MuiContainer-maxWidthMd {
  text-align: center;
}

.MuiDivider-root {
  background-color: black;
}
.divide {
  margin-top: -1%;
  padding-bottom: 1%;
}