.hpHomePage {
  width: 100%;
  padding: 20px 0;
}

.hpTitle {
  color: #19467b;
  margin-top: 0;
}

.hpDivide {
  margin-top: -2%;
  padding-bottom: 2%;
}

.hpDivider {
  border: 3px solid #ffffff;
}
