.npTitle {
  color: #19467b;
  margin-top: 0;
}

.npTitleWrapper {
  margin-top: 2%;
  margin-left: 27%;
  margin-right: 27%;
}

.npFormContainer {
  background-color: #ffffff;
  padding-bottom: 2%;
  border-radius: 8px;
  margin-bottom: 50px;
}

.npTableElementTitleForum {
  margin-left: 2%;
}

.npMainEditor {
  margin-left: 2%;
}

.npUploadMedia {
  margin-left: 4.1%;
}

.npSubmitButton {
  float: right;
}

.npCarouselWrapper {
  margin-left: 2%;
  border-radius: 4px;
  overflow: hidden;
}
